:root {
  --primery-font-family: Montserrat, sans-serif;
  --secondary-font-family: Seymour One, sans-serif;
  // product
  --primery-text-color-teme: #96af8c;
  --secondary-text-color-teme: #efd478;
  --third-text-color-teme: #d6936d;
  // text
  --primery-text-color-teme-light: #131313;
  --secondary-text-color-teme-light: #000000;
  --primery-text-color-teme-dark: #ffffff;
  --secondary-text-color-teme-dark: #fcfcfc;
  --third-text-color-teme-dark: #f8d24e;
  // button
  --default-button-color-teme: #f8d24e;
  --hover-button-color-teme: #0a8817;
  --focus-button-color-teme: #fcfcfc;
  --disabled-button-color-teme: #ababab;
  // another
  --accent-color: #2196f3;
  --via-magenta: #ff0090; // нет в макете, для выделения
  --background-color-teme-dark: #84a178;
  // --background-color-teme-light: #F5F4FA;
}
