<footer id="footer" class="container footer-container">
  <div class="footer__text-container">
    <p class="footer__text">homemade ice cream made <span>with passion</span></p>
    <div class="footer__contacts">
      <ul class="footer__links">
        <li>
          <a href="https://github.com/" target="_blank" rel="nofollow noopener noreferrer" class="footer__link">
            <svg width="20" height="20">
              <use href="./images/sprite.svg#icon-social-github">
              </use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://web.telegram.org/" target="_blank" rel="nofollow noopener noreferrer" class="footer__link">
            <svg width="20" height="20">
              <use href="./images/sprite.svg#icon-social-telegram">
              </use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/" target="_blank" rel="nofollow noopener noreferrer" class="footer__link">
            <svg width="20" height="20">
              <use href="./images/sprite.svg#icon-social-facebook">
              </use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__phone"> Feel free to contact
        <a href="tel:+610383766284">+61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
  <div class="footer__right">
    <p>&#169; 2023 - IceCream.</p>
    <p>&nbsp; All Rights Reserved.</p>
  </div>
</footer>