<section id="gallery" class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Photo gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <picture>
          <source srcset="./images/slider/ingridients-001-@1x.webp 1x, ./images/slider/ingridients-001-@2x.webp 2x"
            type="image/webp">
          <source srcset="./images/slider/ingridients-001-@1x.jpg 1x, ./images/slider/ingridients-001-@2x.jpg 2x"
            type="image/jpg">
          <img src="./images/slider/ingridients-001-@1x.jpg" alt="ice-cream photo-01">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="./images/slider/ingridients-002-@1x.webp 1x, ./images/slider/ingridients-002-@2x.webp 2x"
            type="image/webp">
          <source srcset="./images/slider/ingridients-002-@1x.jpg 1x, ./images/slider/ingridients-002-@2x.jpg 2x"
            type="image/jpg">
          <img src="./images/slider/ingridients-002-@1x.jpg" alt="ice-cream photo-02">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="./images/slider/ingridients-003-@1x.webp 1x, ./images/slider/ingridients-003-@2x.webp 2x"
            type="image/webp">
          <source srcset="./images/slider/ingridients-003-@1x.jpg 1x, ./images/slider/ingridients-003-@2x.jpg 2x"
            type="image/jpg">
          <img src="./images/slider/ingridients-003-@1x.jpg" alt="ice-cream photo-03">
        </picture>
      </li>
    </ul>
  </div>
</section>