<header class="page-header" id="page-header">
  <div class="container header-container">
    <a class="logo" href="/index.html">
      <picture>
        <source srcset="./images/common/Logo-desktop-@1x.webp 1x, ./images/common/Logo-desktop-@2x.webp 2x"
        media="(min-width: 1200px)" type="image/webp">
        <source srcset="./images/common/Logo-tablet-@1x.webp 1x, ./images/common/Logo-tablet-@2x.webp 2x" media="(max-width: 1199px)"
        type="image/webp">
        <source srcset="./images/common/Logo-desktop-@1x.png 1x, ./images/common/Logo-desktop-@2x.png 2x"
          media="(min-width: 1200px)" type="image/png">
        <source srcset="./images/common/Logo-tablet-@1x.png 1x, ./images/common/Logo-tablet-@2x.png 2x" media="(max-width: 1199px)"
          type="image/png">
        <img class="logo" src="./images/common/Logo-tablet-@1x.png" alt="logo">
      </picture>
    </a>
    <nav class="navigation">
      <ul class="nav-list">
        <li><a href="#page-header">Home</a></li>
        <li><a href="#about">How it’s made?</a></li>
        <li><a href="#products">Our products</a></li>
        <li><a href="#contacts">Contact</a></li>
      </ul>
    </nav>
    <div class="header-container__buttons">
      <button class="burger js-open-menu" type="button" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="burger__icon" width="32" height="32">
          <use href="./images/sprite.svg#icon-button-burger"></use>
        </svg>
      </button>
      <button class="btn btn--buy btn--primary header__btn" type="button" data-modal-open="buy-now"> Buy now
        <svg class="btn__icon" width="12" height="12">
          <use href="./images/sprite.svg#icon-button-arrow-buy"></use>
        </svg>
      </button>
    </div>
  </div>
</header>