<section id="hero" class="hero">
  <div class="container hero-container">
    <div class="hero__content">
      <h1 class="hero__title"> ice cream made with <span>passion</span></h1>
      <div class="hero__buttons">
        <a href="#products" class="btn btn--border hero__btn">Products</a>
        <a href="#about" class="btn btn--underlined hero__btn">How it’s made? </a>
      </div>
      <div class="hero__description">
        <img class="hero__plate"
          srcset="./images/hero/plate-desktop-@1x.png 225w, ./images/hero/plate-desktop-@2x.png 450w, ./images/hero/plate-tablet-@1x.png  152w, ./images/hero/plate-tablet-@2x.png  304w"
          sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 152px"
          src="./images/hero/plate-tablet-@1x.png" alt="Ice-cream plate">
        <div class="hero__text-wrapper">
          <p class="hero__text"> Indulge in a scoop of ice cream made with passion and treat your
            taste buds to an unforgettable experience!</p>
          <a class="hero__link" href="#products">
            <svg class="hero__arrow" width="41" height="15">
              <use href="./images/sprite.svg#icon-product-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="statistics">
        <p class="statistics__item"><span>16</span>cafes</p>
        <p class="statistics__item"><span>23</span>food trucks</p>
      </div>
      <div class="hero__image-wrapper">
        <img class="hero__img"
          srcset="./images/hero/hero-mobile-@1x.png   157w, ./images/hero/hero-mobile-@2x.png   315w, ./images/hero/hero-tablet-@1x.png  257w, ./images/hero/hero-tablet-@2x.png  514w, ./images/hero/hero-desktop-@1x.png 447w, ./images/hero/hero-desktop-@2x.png 894w"
          sizes="(min-width: 1200px) 447px, (min-width: 768px) 257px, 157px" src="./images/hero/hero-tablet-@1x.png"
          alt="Ice-cream">
      </div>
    </div>
  </div>
</section>