<div class="backdrop is-hidden" data-modal="locations" data-modal-backdrop="">
  <div class="modal">
    <button class="close-button" type="button" data-modal-close="">
      <svg class="close-button__icon" width="20" height="20">
        <use href="./images/sprite.svg#icon-button-close"></use>
      </svg>
    </button>
    <div class="modal__locations-container">
      <h2 class="modal__locations-title modal__title title">Our Locations</h2>
      <iframe class="modal__locations-map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3026.0578723322974!2d-73.954734!3d40.6726938!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b9e1735b38f%3A0xb5fe454b88e9c2c0!2zNzI2IFN0ZXJsaW5nIFBsLCBCcm9va2x5biwgTlkgMTEyMTYsINCh0KjQkA!5e0!3m2!1sru!2sfi!4v1690973694188!5m2!1sru!2sfi"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <a href="https://goo.gl/maps/idwjg6wZUJigGPPn9" target="_blank" rel="nofollow noopener noreferrer"
        class="btn btn--primary modal__btn"> Open map </a>
    </div>
  </div>
</div>