<div class="backdrop is-hidden" data-modal="more" data-modal-backdrop="">
  <div class="modal">
    <button class="close-button" type="button" data-modal-close="">
      <svg class="close-button__icon" width="20" height="20">
        <use href="./images/sprite.svg#icon-button-close"></use>
      </svg>
    </button>
    <h2 class="about-modal__title modal__title title">How it’s made?</h2>
    <video class="about__video" src="./images/about/FUNNY_COW.8e709b63.mp4" poster="./images/about/cow-preview.png"
      controls="" preload="auto"></video>
    <p class="about__video-descr"> We use traditional recipes and 100% natural ingredients. Our products are so
      natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice
      cream, 15 types of coffee and 23 milkshakes. </p>
  </div>
</div>