<section id="reviews" class="reviews">
  <div class="itc-slider" data-slider="itc-slider">

    <div class="itc-slider-wrapper">
      <div class="itc-slider-items">
        <div class="itc-slider-item reviews-item">
          <!-- Контент 1 слайда -->
          <div class="reviews__picture">
            <picture>
              <source srcset="./images/slider/review-001-@1x.jpg 1x, ./images/slider/review-001-@2x.jpg 2x"
                type="image/jpg">
              <img src="./images/slider/review-001-@1x.jpg" alt="Emily">
            </picture>
          </div>
          <p class="reviews__text">I love visiting your cafe. You prepare the most delicious ice
            cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and
            polite staff.</p>
          <p class="reviews__name">Emily, Los Angeles</p>
        </div>
        <div class="itc-slider-item reviews-item">
          <!-- Контент 2 слайда -->
          <div class="reviews__picture">
            <picture>
              <source srcset="./images/slider/review-002-@1x.jpg 1x, ./images/slider/review-002-@2x.jpg 2x"
                type="image/jpg">
              <img src="./images/slider/review-002-@1x.jpg" alt="Bryan">
            </picture>
          </div>
          <p class="reviews__text">Every day we come to you with friends after classes in college.
            We love your ice cream and casual atmosphere!</p>
          <p class="reviews__name">Bryan, New-York</p>
        </div>
        <div class="itc-slider-item reviews-item">
          <!-- Контент 3 слайда -->
          <div class="reviews__picture">
            <picture>
              <source srcset="./images/slider/review-003-@1x.jpg 1x, ./images/slider/review-003-@2x.jpg 2x"
                type="image/jpg">
              <img src="./images/slider/review-003-@1x.jpg" alt="Diana">
            </picture>
          </div>
          <p class="reviews__text">Ice cream is my passion! I love your chocolate hazelnut ice
            cream! And I really like the excellent service - always served politely and quickly!
          </p>
          <p class="reviews__name">Diana, Chicago</p>
        </div>
      </div>
    </div>

    <ol class="itc-slider-indicators reviews-indicators">
      <!-- data-slide-to="0" – для перехода к 1 слайду -->
      <li class="itc-slider-indicator" data-slide-to="0">
        <svg width="12" height="12">
          <use href="./images/sprite.svg#icon-point"></use>
        </svg>
      </li>
      <!-- data-slide-to="1" – для перехода к 2 слайду -->
      <li class="itc-slider-indicator" data-slide-to="1">
        <svg width="12" height="12">
          <use href="./images/sprite.svg#icon-point"></use>
        </svg>
      </li>
      <!-- data-slide-to="2" – для перехода к 3 слайду -->
      <li class="itc-slider-indicator" data-slide-to="2">
        <svg width="12" height="12">
          <use href="./images/sprite.svg#icon-point"></use>
        </svg>
      </li>
    </ol>
  </div>
</section>