// <!-- HERO -->      

@keyframes plate-rotate {
  0% {
      transform: rotate(0)
  }

  to {
      transform: rotate(1turn)
  }
}

@keyframes ice-cream-shadow-spawn {
  0% {
      filter: drop-shadow(0 0 var(--primery-text-color-teme-dark))
  }

  to {
      filter: drop-shadow(0 0 40px var(--primery-text-color-teme-dark))
  }
}

@keyframes ice-cream-shadow-flash {
  0% {
      filter: drop-shadow(0 0 40px var(--primery-text-color-teme-dark))
  }

  to {
      filter: drop-shadow(0 0 10px var(--primery-text-color-teme-dark))
  }
}

// <!-- GALLERY -->  

@keyframes gallery {
  0% {
      opacity: 0
  }

  10% {
      opacity: 1
  }

  33% {
      opacity: 1
  }

  43% {
      opacity: 0
  }

  to {
      opacity: 0
  }
} 