.page-header {
  z-index: 10;
  width: 100%;
  padding: 12px 0;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width:768px) {
  .page-header {
      padding: 20px 0;
  }
}
@media screen and (min-width:1200px) {
  .page-header {
      padding: 18px 0;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// @media screen and (min-width:1200px) {
//     .logo {
//         margin-right: 240px;
//     }
// }

@media screen and (max-width:1199px) {
  .navigation {
      display: none;
  }
}

.nav-list {
  display: flex;
  gap: 28px;
}

.nav-list>li>a {
  // display: block;
  // padding-top: 2rem;
  // padding-bottom: 0.750rem;

  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 1.600rem;
  line-height: 1.25;

  color: var(--secondary-text-color-teme-dark);
  transition: color .25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, &:focus{
      color: var(--third-text-color-teme-dark);
  }
}

.header-container__buttons {
  display: flex;
  align-items: center;
  gap: 32px;
  // margin-left: auto;
}

.burger{
  display: flex;
  justify-content: center;
}

.btn--buy {
  display: flex;
  align-items: center;
  gap: 8px;

  line-height: 1.21429;
}

@media screen and (max-width:767px) {
  .header__btn {
      display: none;
  }
}